.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.timer{
    width: 50px;
    text-align: center;
    background: lightgreen;
    border: 3px solid green;
}
.timeOut{
    width: 50px;
    text-align: center;
    background: lightcoral;
    border: 3px solid red;
}